*{
	margin: 0;
	padding:0;
	border: 0;
}

.a11y{
	position: absolute;
	left:-10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

body{
	font-family: Arial, sans-serif;
}

header{
	background-color: #ccc;
	border: 1px solid black;
	text-align: center;
	padding: 0.5em;
	text-transform: uppercase;
}


.userInput input{
	border: 1px solid black;
	font-size: 1.5em;
	padding: 0.5em;
	margin: 0.5em;
	text-align: center;
	display: block;
	width: calc(100% - 2em - 2px);
}


.userInput input[type=submit]{
	font-size: 1.2em;
	box-sizing: content-box;
	display: block;
}

.result .toValue{
	background-image: url(img/arrow2.png);
	background-size: 1em;
	background-repeat: no-repeat;
	padding-left: 1.1em;
}

.userInput.disabled{
	opacity: 0.3;
	pointer-events:none;

	margin-top: 1em;
	padding-top: 3.5em;

	background-image: url(img/load.svg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 3em;
}

.refresh{
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding:15em;
}

button.btn-refresh{
	background-image: url(img/refresh64.png);
	background-repeat: no-repeat;
	background-color: white;
	background-position: center center;
	cursor:pointer;
	border:none;
	width:64px;
	height:64px;
}

.currencies{
	display: inline-flex;
	text-align: center;
	margin: 3em;
}

.currency{
	background-color: white;
	color: black;
	padding: 0.5em;
	margin-right: .3em;
	list-style: none;
}

.selected{
	background-color: black;
	color: white;
}


footer{
	background-color: #259B9A;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding:0.5em;
	text-align: center;
}